/* general Nav container, 3 divs */
.NavGeneral{
    display: flex;
    width: 100vw;
    height: 5rem;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 20px #97ce4c;
}

/* first div, image */
.imgDiv{
    width: 33.33%;
    text-align: left;
}
.RyMImg{
    width: 15rem;
    height: auto;
    margin-left: 5rem;   
}

/* second div, searchBar */
.searchBarDiv{
    width: 33.33%;
    text-align: center;
    
}

/* third div, buttons */
.buttonsDiv{
    width: 33.33%;
    text-align: right;
    
}
.randomButtonDiv{
    display: inline-block;
    width: auto;
    text-align: left;
}
.randomButtonDiv button{
    
}
.navButtons button{
    color: white;
    margin: 1rem;
    border: none;
    background: none;
    font-size: 14px;
    cursor: pointer;
    margin-right: 3rem;
}
.navLinkButton{
    margin: 1rem;
    text-decoration: none;
    color: white;
    font-size: 15px;
}


